<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drag`n`Drop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <div class="empty">
        <div class="fill" draggable="true"></div>
    </div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>


    <div class="menu-options"><h2>Bence</h2></div>
    <div class="menu-options"><h2>Gábor</h2></div>
    <div class="menu-options"><h2>Laci</h2></div>
    <div class="menu-options"><h2>Ádám</h2></div>



    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>