html body {
    min-height: 100vh;

}



.content_wrapper {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#box {
    height: 600px;
    border: 1px solid black;
}

.clothes {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#slot {
    height: 150px;
    width: 150px;
}

.full-body {
    display: block;
}

.ibody {
    display: block;
}

#head-image {
    margin-left: 300px;
}

#body-image {
    margin-left: 3px;
}