<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DressUp!</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style/style.css') }}>
</head>
<body>
    <div class="content_wrapper">
        <div class="full-body" id="box">
            <div id="head-image"><div><button class="change-mentor" id="prev" onclick="previousMentor()">Prev</button></div><img width="100" height="140" class="ibody" id="head-img"><div><button class="change-mentor" id="next" onclick="nextMentor()">Next</button></div></div
            ><div id="body-image"><img class="ibody body-size" id="top" src=""></div
            ><div id="leg-image"><div></div><img class="ibody leg-size" id="bottom" src=""></div>
        </div>
        <div class="clothes_choose" id="box">
            <div class="category_chooser">
                <button onclick="setTops({{ tops }})" class="category">TOPS</button>
                <button onclick="setBottoms({{ bottoms }})" class="category">BOTTOMS</button>
                <button onclick="setDress({{ dresses }})" class="category">DRESSES</button>
                <button onclick="setBling({{ accessories }})" class="category">BLING</button>
            </div>
            <div id="clothes" >

            </div>
        </div>
    </div>
    <script src="static/js/jquery-3.5.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>