<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DressUp!</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style/style.css') }}>
</head>
<body>
    <div class="content_wrapper">
       <canvas id="body-canvas">

       </canvas>
        <div class="clothes_choose" id="box">
            <div class="category_chooser">
                <button onclick="setTops({{ tops }})" class="category">TOPS</button>
                <button onclick="setBottoms({{ bottoms }})" class="category">BOTTOMS</button>
                <button onclick="setDress({{ dresses }})" class="category">DRESSES</button>
                <button onclick="setBling({{ accessories }})" class="category">BLING</button>
            </div>
            <div id="clothes" >

            </div>
        </div>
    </div>
    <div id="music_player">
        <audio controls autoplay="true" loop="true">
            <source src="/static/style/background_music.ogg" type="audio/ogg">
            <source src="/static/style/background_music.mp3" type="audio/mpeg">
        </audio>
    </div>
{#    <embed src="/static/style/background_music.mp3" type="audio/mpeg" hidden="true" autostart="true">#}
    <img id="boi" src="{{ url_for('static', filename='images/bottom2/jeans-short.png') }}" alt="Missing">
     <script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
    {# <script src="{{ url_for('static', filename='js/main.js') }}"></script> #}
</body>
</html>