<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DressUp!</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style/style.css') }}>
</head>
<body>
    <div class="content_wrapper" id="box">
        <div class="full-body">
            <div><img class="ibody" id="head-image" src="/static/images/bodies/bence2.png" alt="scumha-pixelglass"></div
            ><div><img class="ibody" id="body-image" src="/static/images/cloths/builder-daddys-top.png" alt="builder-yellow-dress" ></div
            ><div><img class="ibody" id="leg-image" src="/static/images/cloths/builder-jeanshort-bottom.png"></div>
        </div>
        <div class="clothes" id="box">
            {% for x in range(3) %}
            <div id="cloth_row">
                {% for y in range(3) %}
                <div id="cloth">CLOTH</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="static/js/jquery-3.5.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>